<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="layout/header"></th:block>
<body>
<div th:if="${not #lists.isEmpty(notes)}" class = "app container-fluid">
    <div class="row">

        <div  th:each="note : ${notes}" class="col-sm-6 col-md-4">

            <div class="flashcard">
                <div class="card-header">
                    <h3 th:text="${note.title}">Thumbnail label</h3>
                    <hr/>
                </div>
                <div class="card-body">
                    <p th:text="${note.content}">...</p>
                </div>
                <div class="card-functions">
                    <a th:href="@{'/note/' + ${note.id}}" ><i class="far fa-edit"></i></a>
                    <a th:href="@{'/note/delete/' + ${note.id}}" ><i class="far fa-trash-alt"></i></a>
                </div>
            </div>

        </div>
        <div class="col-sm-6 col-md-4">
            <div class="addMore">
                <a th:href="@{/note/create}"><i class="far fa-plus-square"></i></a>
            </div>
        </div>
    </div>
</div>

<div th:if="${#lists.isEmpty(notes)}" class = "app container-fluid">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="addMore">
                <a th:href="@{/note/create}"><i class="far fa-plus-square"></i></a>
            </div>
        </div>
    </div>
</div>



</body>
<script src="/js/script.js"></script>
<script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous" th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>
</html>